@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@100;400;700&display=swap");

/* Figma Styles of your File */
:root {
  /* Colors */

  /* Fonts */
  --tittle-dm-display: 400 56px/100.8% "DM Serif Display", sans-serif;
  --h-1-dm-display: 400 36px/100.8% "DM Serif Display", sans-serif;
  --h-2-dm-display: 400 32px/100.8% "DM Serif Display", sans-serif;
  --h-3-dm-display: 400 28px/100.8% "Lustria", sans-serif;
  --h-1-montserrat: 700 32px/100.8% "Montserrat", sans-serif;
  --h-2-montserrat: 700 28px/100.8% "Montserrat", sans-serif;
  --h-3-montserrat: 700 24px/100.8% "Montserrat", sans-serif;
  --p-montserrat: 400 18px/100.8% "Montserrat", sans-serif;
  --p-info-style: 400 16px/100.8% "Montserrat", sans-serif;

  /* Effects */
  --shadow-black-box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  --shadow-white-box-shadow: 0px 10px 15px -3px rgba(232, 233, 237, 0.1);
}

.menu {
  background: var(--gray-200, #e8e9ed);
  padding: 16px 32px 16px 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 96px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  max-width: 1024px;
  width: 100vw;
}

.card-container {
  background: white;
  border-radius: 4px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  display: inline-flex;
  box-shadow: var(--shadow-black-box-shadow);
}

.avaliation-left {
  margin-left: -8em;
  scale: 0.9;
}

.avaliation-right {
  margin-right: -8em;
  scale: 0.9;
}

.avaliation-index-1 {
  z-index: 1;
}

.avaliation-index-2 {
  z-index: 5;
}

a {
  text-decoration: none;
  color: black;
}

.lawyers {
  height: 100vh;
  background-color: var(--yellow-400, #d1bc87);
  display: flex;
  flex-direction: column;
  gap: 4em;
  justify-content: center;
  align-items: center;
}

.avaliation {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 4em;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.cards {
  display: grid;
  max-width: 1024px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}

.avaliatons {
  display: grid;
  max-width: 1024px;
  grid-template-columns: 1fr 1fr 1fr;
}

.div-link {
  position: relative;
}

.div-link > div {
  display: flex;
  padding-bottom: 4px;
  border-bottom: 1px solid black;
  width: 0%;
  transition: all 0.3s;
}

.div-link:hover > div {
  width: 100%;
}

button {
  min-width: 100px;
  height: 44px;
  border-radius: 4px;
  border: none;
  transition: all 0.3s;
  padding: 0 1em;
  box-sizing: border-box;
}

.button-ghost {
  border: 1px solid #d3d3d3;
  background-color: var(--gray-200, #e8e9ed);
}

.button-ghost:hover {
  background-color: var(--gray-300, rgb(214, 214, 214));
}

.button-p {
  background-color: var(--blue-400, #4b5da5);
  color: white;
}

.button-p:hover {
  background-color: #606ea7;
}

.button-p-2 {
  background-color: var(--blue-800, #0d1d37);
  color: white;
}

.button-p-2:hover {
  background-color: #112546;
}

.hero {
  margin-top: 168px;
  width: 100vw;
  height: calc(100vh - 168px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.callback {
  height: 240px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8em;
}

.hero-content {
  max-width: 1024px;
  display: flex;
  gap: 8em;
  justify-content: space-between;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--gray-200, #e8e9ed);
  overflow-x: hidden;
}

h1 {
  font: var(--h-1-dm-display);
}

.h1-blue {
  font: var(--h-1-dm-display);
  color: var(--blue-800, #0d1d37);
}

.h1-yellow {
  font: var(--h-1-dm-display);
  color: var(--yellow-400, #d1bc87);
}

.card-foto {
  align-self: stretch;
  height: 178px;
  object-fit: cover;
}

.card-foto-2 {
  flex: 1 0 0;
  align-self: stretch;
  object-fit: cover;
}

.card-content {
  align-self: stretch;
  padding: 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  display: flex;
}

.card-content-header {
  align-self: stretch;
  height: 60px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  display: flex;
}

.card-content-header-name {
  align-self: stretch;
  color: var(--gray-800, #4a4a4a);
  font-size: 28px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 28px;
  word-wrap: break-word;
}

.card-content-header-bio {
  align-self: stretch;
  opacity: 0.5;
  color: var(--gray-800, #4a4a4a);
  font: (--p-montserrat);
  word-wrap: break-word;
}

.card-content-description {
  align-self: stretch;
  height: 110px;
  margin-top: 8px;
  opacity: 0.8;
  color: var(--gray-800, #4a4a4a);
  font: (--p-montserrat);
}

.card-content-header-star {
  display: flex;
  gap: 4px;
}

.footer {
  border-top: 1px solid #c0c0c0;
  display: flex;
  height: 120px;
  padding: 32px 64px;
  justify-content: flex-end;
  align-items: center;
  gap: 644px;
  flex-shrink: 0;
  align-self: stretch;
}
